body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}

/* Some CSS grid styling to make the UI look less totally awful */
#ui {
  display: grid;
  grid-template-columns: 250px 250px;
}

#progress_bars {
  transform: rotate(90deg);
  position: absolute;
  left: 300px;
  bottom: 30px;
  width: 200px;
}


input {
  width: 70%;
  padding: 8px;
  margin: 30px;
}
