body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
  cursor: none;
}

/* Some CSS grid styling to make the UI look less totally awful */
.mycursor {
  position: absolute;
  left:0;
  top:0;
}

#progress_bars {
  display: grid;
  grid-template-rows: 20px 20px 20px 20px 20px 20px;
  margin-left: 110px;
  width: 300px;
  margin-top: 10px;
}

input {
  width: 70%;
  padding: 7px;
  margin-top: 30px;
  margin-left: 40px;
}

#feed {
  margin-top: -20px;
  margin-left: -110px;
  width: 100px;
  height: 30px;
}

#change {
  margin-top: -20px;
  margin-left: -110px;
  width: 100px;
  height: 30px;
}

h1 {
  margin-top: -200px;
}

#day{
}

#play {
  margin-top: -20px;
  margin-left: -110px;
  width: 100px;
  height: 30px;
}

#nameInput {
  margin-top: 20px;
}

#name_top {
  /* color: orange; */
  font-size: 55px;
}

#p5js-canvas {
  display: grid;
  border-style: dashed;
  
}

#instructions {
  text-align: justify;
  text-align: left;
}
