#secret-document {
  font-family: monospace;
  margin: 10rem;
  font-size: 1.25rem;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
